*{
    box-sizing: border-box;
    font-family: Lato;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(image/Rectangle3.png);
    background-size: cover;
    height: 782px;
    color: white;
}
.head{
    background-color: rgba(238, 61, 27, 0.8);
    height: 782px;
}
.wrap{
    width: 1140px;
    margin: auto;
}
.head-nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-nav-menu{
    width: 450px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: white;
}
.head-nav-logo{
    font-size: 18px;
    text-transform: uppercase;
}
.head-nav-btn{
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}
.head-content{
    text-align: center;
}
.head-title{
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 170px 0 40px 0;
}
.head-txt{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 60px;
}
.head-content-btn{
    padding: 16px 50px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: white;
}
.head-content-btn a{
    text-decoration: none;
    color: #ED4C5C;
    font-weight: 600;
}
.first-section{
    padding: 95px 0;
}
.first-section-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section-item{
    width: 445px;
}
.title{
    font-size: 36px;
    font-weight: 600;
}
.link a{
    text-decoration: none;
    color: #ED4C5C;
}
.play-btn{
    background-color: #ED4C5C;
    width: 66px;
    height: 66px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}
.first-section-btn{
    position: relative;
}
.play-btn{
    position: absolute;
    top: 123px;
    left: -30px;
}
.features{
    text-align: center;
    padding: 50px 0 230px;
}
.features{
    background-color: #FAFAFA;
}
.features-items{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.features-item{
    width: 350px;
    text-align: center;
    position: relative;
}
.features-item-txt{
    width: 293px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 160px;
    left: 28px;
}
.read-more{
    text-decoration: none;
    color: #ED4C5C;
    font-size: 12px;
    font-weight: 700;
}
.technology{
    text-align: center;
    padding-bottom: 100px;
}
.number{
    font-size: 100px;
    font-weight: 700;
    color: rgba(16, 16, 16, 0.08);
}
.technology-items{
    display: flex;
    justify-content: space-around;
}
.technology-item{
    width: 255px;
    position: relative;
}
.technology .title{
    padding: 60px 0 40px;
}
.technology-icon{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 90px;
}
.saving-money{
    background-color: #ED4C5C;
    padding: 95px 0;
}
.saving-money-items{
    display: flex;
    justify-content: space-between;
}
.saving-money-item{
    width: 433px;
    color: #fff;
}
.icons{
    width: 134px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.saving-money-item,
.saving-money-item-2{
    width: 45%;
}
.saving-money-item-2{
    position: relative;
}
.img-1{
    position: absolute;
    z-index: 99;
}
.img-2{
    position: absolute;
    top: 22px;
    left: -44px;
}
.img-3{
    position: absolute;
    top: 22px;
    left: 105px;
}
footer{
    background-color: #FAFAFA;
    padding: 85px 0;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 20%;
}
.footer-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: #000;
}
.footer-icons{
    width:70px;
    display: flex;
    justify-content: space-between;
}